$darkgreen: #058499;
$lightgrey: #FFF;
$burgundy: #531635;
$darkgrey:  #333E40;
$softgrey:  #4c585a;
$white: white;
$grey: #6F7482;
$whitegrey: #E9F0FB;
$whitegrey: rgb(222, 225, 228);



label {
color: $grey !important; 

}
/* INPUT TYPE */
#input1  {
    width: 365px !important;
    height: 34px !important;
    border-radius: 4px!important;
}


#input1-sm {
    width: 300px !important;
    height: 40px !important;
    border-radius: 4px!important;
}



#input2  {
    width: 345px !important;
    height:  55px !important;
	
}





/* INPUT COLOR */
input.input-primary {
    color: $darkgrey;
	background-color: $whitegrey !important;
	
}


input.input-tertiary {
    color: $white ;
    background-color: $grey!important;
    border-color: $darkgrey !important;
}


/* EXTRA BOILERPLATE  */

input[type="submit"].input-primary {
    color: #FFF;
    background-color: $darkgreen !important;
    border-color: $darkgreen !important;
}

input[type="reset"].input-primary {
color: #fff;
background-color: $darkgreen !important;
border-color: $darkgreen !important;
}
input[type="button"].input-primary {
    color: #fff;
    background-color: $lightgrey !important ;

}

input[type="submit"].input-secondary {
	color: #FFF;
	background-color: $burgundy !important;
	border-color: $burgundy !important;
}
input[type="reset"].input-secondary {
	color: #FFF;
	background-color: $burgundy !important;
	border-color: $burgundy !important;
}
input[type="button"].input-secondary {
	color: #FFF;
	background-color: $burgundy !important;
	border-color: $burgundy !important;
}