@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


$darkgreen: #058499;
$white    : #FFF;
$black : #000;
$lightgrey : #d3d3d3;



a {
    color: #000 !important;
}




.container {
    border: 1px solid #000;
   
    
}

.formtitle {
    text-transform: uppercase;
    font-family: Bebas Neue;
    color: $white;
}

.formtitle-black {
    text-transform: uppercase;
    font-family: Bebas Neue;
    color: $black;
}


.formtitle-center {
    text-transform: uppercase;
    font-family: Bebas Neue;
    font-size: 3rem;
    text-align: center;
    padding-right: 80px;
    
}

.text {
    font-size: smaller;
}


#sm-text {
    font-size: 10px;
}