@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


li {
    list-style: none;
}


.container {
    border: none !important;
    
}

.formtitle {
    text-transform: uppercase;
    font-family: Bebas Neue;
    font-size: 3rem;
    text-align: center;
    padding-right: 80px;
    
}

.text {
    font-size: smaller;
}