/* most USED VARIABLES */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.button {
  list-style: none;
  text-decoration: none;
  width: 210px !important;
  height: 54px !important;
  border-radius: 12px !important;
  background-color: white !important;
}

/* COLOR */
.button.button-primary {
  background-color: #333E40 !important;
  border-color: #333E40 !important;
}

.button.button-secondary {
  color: #FFF;
  background-color: #531635 !important;
  border-color: #531635 !important;
}

button.button-tertiary {
  color: #fff;
  background-color: #058499 !important;
  border-color: #058499 !important;
}

.navbar .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#navmenu-button {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
#navmenu-button span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #058499;
  margin: 6px 0;
  border-radius: 0.4rem;
  transition: 0.4s;
}

/* EXTRA BOILER PLATE -- IGNORE*/
.button_md.button-secondary {
  background-color: #531635;
  border-color: #531635;
}

.button_sm.button-prime {
  background-color: #531635;
  border-color: #531635;
}

/* CUSTOM */
.btn-small {
  width: 295px;
  height: 56px;
  border: 1px Solid #FFF;
  font-weight: bold;
  letter-spacing: 0.3rem;
  border-radius: 5px;
  background-color: #058499;
  text-transform: uppercase;
  color: #FFF;
  font-family: Roboto;
}
.btn-small.btn-small:hover {
  color: #058499;
  background-color: #FFF;
  border: solid 1px;
}

.btn-large {
  width: 350px;
  height: 45px;
  border: 1px Solid #FFF;
  font-weight: bold;
  letter-spacing: 0.3rem;
  border-radius: 5px;
  background-color: #058499;
  text-transform: uppercase;
  color: #FFF;
  font-family: Roboto;
}
.btn-large.btn-medium:hover {
  color: #058499;
  background-color: #FFF;
  border: solid 1px;
}

.btn-round {
  color: #FFF;
  width: 215px;
  height: 54px;
  left: 80px;
  top: 1507px;
  background-color: #10869B;
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 100px;
  border: solid 1px #FFF;
  text-transform: uppercase;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-family: Roboto;
  letter-spacing: 0.3rem;
  font-weight: bold;
}
.btn-round .fa {
  color: #d3d3d3 !important;
}
.btn-round.btn-round:hover {
  color: #058499;
  background-color: #FFF;
  border: solid 1px;
}

label {
  color: #6F7482 !important;
}

/* INPUT TYPE */
#input1 {
  width: 365px !important;
  height: 34px !important;
  border-radius: 4px !important;
}

#input1-sm {
  width: 300px !important;
  height: 40px !important;
  border-radius: 4px !important;
}

#input2 {
  width: 345px !important;
  height: 55px !important;
}

/* INPUT COLOR */
input.input-primary {
  color: #333E40;
  background-color: #dee1e4 !important;
}

input.input-tertiary {
  color: white;
  background-color: #6F7482 !important;
  border-color: #333E40 !important;
}

/* EXTRA BOILERPLATE  */
input[type=submit].input-primary {
  color: #FFF;
  background-color: #058499 !important;
  border-color: #058499 !important;
}

input[type=reset].input-primary {
  color: #fff;
  background-color: #058499 !important;
  border-color: #058499 !important;
}

input[type=button].input-primary {
  color: #fff;
  background-color: #FFF !important;
}

input[type=submit].input-secondary {
  color: #FFF;
  background-color: #531635 !important;
  border-color: #531635 !important;
}

input[type=reset].input-secondary {
  color: #FFF;
  background-color: #531635 !important;
  border-color: #531635 !important;
}

input[type=button].input-secondary {
  color: #FFF;
  background-color: #531635 !important;
  border-color: #531635 !important;
}

/** BEGIN: Non Openmrs CSS **/
* {
  font-family: "Roboto";
}

div.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 30px;
  border: 1px solid whitesmoke;
  padding: 21px;
  border-radius: 4px;
}

h4.title {
  text-align: center;
  margin-bottom: 45px;
}

:root {
  --omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
  --omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
  --omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
  --omrs-color-interaction: #1e4bd1;
  --omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
  --omrs-color-danger: #b50706;
  --omrs-color-bg-low-contrast: #eff1f2;
  --omrs-color-ink-high-contrast: #121212;
  --omrs-color-bg-high-contrast: #ffffff;
}

/** END: Non Openmrs CSS **/
div.omrs-input-group {
  margin-bottom: 1.5rem;
  position: relative;
  width: 20.4375rem;
}

/* Input*/
.omrs-input-underlined > input,
.omrs-input-filled > input {
  border: none;
  border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
  width: 100%;
  height: 2rem;
  font-size: 1.0625rem;
  padding-left: 0.875rem;
  line-height: 147.6%;
  padding-top: 0.825rem;
  padding-bottom: 0.5rem;
}

.omrs-input-underlined > input:focus,
.omrs-input-filled > input:focus {
  outline: none;
}

.omrs-input-underlined > .omrs-input-label,
.omrs-input-filled > .omrs-input-label {
  position: absolute;
  top: 0.9375rem;
  left: 0.875rem;
  line-height: 147.6%;
  color: var(--omrs-color-ink-medium-contrast);
  transition: top 0.2s;
}

.omrs-input-underlined > svg,
.omrs-input-filled > svg {
  position: absolute;
  top: 0.9375rem;
  right: 0.875rem;
  fill: var(--omrs-color-ink-medium-contrast);
}

.omrs-input-underlined > .omrs-input-helper,
.omrs-input-filled > .omrs-input-helper {
  font-size: 0.9375rem;
  color: var(--omrs-color-ink-medium-contrast);
  letter-spacing: 0.0275rem;
  margin: 0.125rem 0.875rem;
}

.omrs-input-underlined > input:hover,
.omrs-input-filled > input:hover {
  background: var(--omrs-color-interaction-minus-two);
  border-color: var(--omrs-color-ink-high-contrast);
}

.omrs-input-underlined > input:focus + .omrs-input-label,
.omrs-input-underlined > input:valid + .omrs-input-label,
.omrs-input-filled > input:focus + .omrs-input-label,
.omrs-input-filled > input:valid + .omrs-input-label {
  top: 0;
  font-size: 0.9375rem;
  margin-bottom: 32px;
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus + .omrs-input-label,
.omrs-input-filled:not(.omrs-input-danger) > input:focus + .omrs-input-label {
  color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus,
.omrs-input-filled:not(.omrs-input-danger) > input:focus {
  border-color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus ~ svg,
.omrs-input-filled:not(.omrs-input-danger) > input:focus ~ svg {
  fill: var(--omrs-color-ink-high-contrast);
}

/** DISABLED **/
.omrs-input-underlined > input:disabled {
  background: var(--omrs-color-bg-low-contrast);
  cursor: not-allowed;
}

.omrs-input-underlined > input:disabled + .omrs-input-label,
.omrs-input-underlined > input:disabled ~ .omrs-input-helper {
  color: var(--omrs-color-ink-low-contrast);
}

.omrs-input-underlined > input:disabled ~ svg {
  fill: var(--omrs-color-ink-low-contrast);
}

/** DANGER **/
.omrs-input-underlined.omrs-input-danger > .omrs-input-label, .omrs-input-underlined.omrs-input-danger > .omrs-input-helper,
.omrs-input-filled.omrs-input-danger > .omrs-input-label, .omrs-input-filled.omrs-input-danger > .omrs-input-helper {
  color: var(--omrs-color-danger);
}

.omrs-input-danger > svg {
  fill: var(--omrs-color-danger);
}

.omrs-input-danger > input {
  border-color: var(--omrs-color-danger);
}

.omrs-input-underlined > input {
  background: var(--omrs-color-bg-high-contrast);
}

.omrs-input-filled > input {
  background: var(--omrs-color-bg-low-contrast);
}

fa* {
  color: #000 !important;
}

li {
  list-style: none;
}

.container {
  border: none !important;
}

.formtitle {
  text-transform: uppercase;
  font-family: Bebas Neue;
  font-size: 3rem;
  text-align: center;
  padding-right: 80px;
}

.text {
  font-size: smaller;
}/*# sourceMappingURL=main.css.map */